<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Raccolte fondi | {% block title %}{% endblock %}</title>
  <meta name="description" content="Sito di raccolte fondi">
  <meta name="author" content="Daniel Kather">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg> 
            <img src="{{url_for('static',filename='logo.jpg')}}" alt="Logo" class="me-2" width="70" height="72">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a class="nav-link {% if request.path == url_for('index') %}active text-secondary{% else %}text-white{% endif %}" aria-current="page" href="{{ url_for('index') }}">Home</a></li>
            <li><a class="nav-link {% if request.path == url_for('about') %}active text-secondary{% else %}text-white{% endif %}" aria-current="page" href="{{ url_for('about')}}">About us</a></li>
        </ul>
        <!--<a href="{{url_for('index')}}" class="nav-link px-2 text-white">Home</a><li><a href="{{url_for('about')}}" class="nav-link px-2 text-white">About</a></li>-->

        {% if current_user.is_authenticated %}
        <h2 class="text-white">Bentornato {{ current_user.nome }}!</h2>
        {% else %}
        <form class="d-flex align-items-center" action="/login" method="POST">
            <!--<input type="hidden" name="next" value="{{ request.path }}">-->
            <div class="mb-3 me-lg-3">
                <label for="emailInput" class="form-label text-white">Email</label>
                <input type="text" class="form-control" id="emailInput" aria-describedby="emailHelp" name="email">
            </div>
            <div class="mb-3 me-lg-3">
                <label for="passwordInput" class="form-label text-white">Password</label>
                <input type="password" class="form-control" id="passwordInput" name="password">
            </div>
            <button type="submit" class="btn btn-outline-light me-2">Login</button>
            <small class="text-white">Non hai ancora un account? <a href="/registrazione" class="btn btn-warning">Registrati</a></small>
        </form>
        {% endif %}
    </div>
</div>

</header>
</body>
